/*####### IN THE NAME OF ALLAH ##########
## Project Name: Projapp               ##
## File name:    style.css             ##
## Author:       Mohammad Mahdi Naderi ##
## Project Site: projapp.mmnaderi.ir   ##
#######################################*/
@import "css/hint.min.css";
* {
	padding:0;
	margin:0;
}
html, body {
	font-family:Tahoma;
	font-size:13px;
	color:#161616;
	background-image:url('images/bg.png');
}
a {
	color:#3D3D3D;
	text-shadow:0px 0px 1px #696969;
	filter:dropshadow(color=#696969, offx=0, offy=0);
	text-decoration:none;
}
a:hover {
	color:#6D6D6D;
}
ul {
	list-style:none;
}
p {
	margin-bottom:3px;
}
input[type="text"], input[type="submit"], input[type="password"], textarea, select, a.button {
	background-color:#EEE;
	border:1px #CCC solid;
	border-radius:3px;
	padding:4px;
	font-size:13px;
	font-family:Tahoma;
	color:#161616;
}
select option {
	padding-right:15px;
}
a.button {
	padding:5px;
	text-shadow:none;
}
a.button:hover {
	background-color:#F9F9F9;
}
input[type="submit"]:hover {
	background-color:#F9F9F9;
	cursor:pointer;
}
.submit-project {
    float:right;
	margin-top:10px;
}
.submit-login {
    margin: 0 auto;
    width: 230px;
}
.delete-project {
	float:left;
	margin-top:15px;
}
.clearfix:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.container {
	width:500px;
	margin:50px auto;
}
.wrapper {
/*	padding:8px;*/
	min-height:271px;
	position:relative;
	border-radius:4px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow: 0px 0px 3px 0px #999; 
	-webkit-box-shadow: 0px 0px 3px 0px #999;
}
.small-wrapper {
	width:200px;
	padding:10px;
	text-align:center;
	min-height:18px;
}
.login-wrapper {
	position:relative;
	border-radius:4px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow: 0px 0px 3px 0px #999; 
	-webkit-box-shadow: 0px 0px 3px 0px #999;
}
ul.toolbar {
	width:35px;
	float:left;
	list-style:none;
	padding:5px;
	background-color:#EEE;
	border-right:1px solid #CCC;
	position:absolute;
	top:0px;
	bottom:0px;
	/*-webkit-box-shadow: inset 0px 0px 3px 0px #999;
	box-shadow: inset 0px 0px 3px 0px #999; */
}
ul.toolbar li {
	width:32px;
	height:32px;
	margin-bottom:5px;
	text-align:center;
}
ul.toolbar li:last-child {
	margin-bottom:0;
}
.seperator {
	margin-bottom:5px;
}
.primery {
	padding:8px;
	float:left;
	width:425px;
	margin-left:50px;
}
.primary {
	padding:15px;
}
.container-big {
	width:628px;
	margin:50px auto;
}
.primery-big {
	padding:8px;
	float:left;
	width:553px;
	margin-left:50px;
}
h1,h2,h3,h4,h5,h6 ,.page-title {
	color:#5A5A5A;
	font-size:18px;
	font-family:Trebuchet MS;
	margin-bottom:5px;
}
.page-title {
	text-align:center;
}
h2 {
	font-size:15px;
}
h2.category-title {
	margin-top:15px;
}
ul.projects li {
	color:#444;
	padding:10px;
	border-top:1px solid #ddd;
}
ul.projects li:first-child {
	border-top:none;
}
ul.projects li:last-child {
	border-bottom:none;
}
ul.projects li:hover {
	background-color:#F4F4F4;
}
ul.projects li div.percent-text {
	width:40px;
	float:right;
	text-align:right;
}
ul.projects li .name {
	font-size:13px;
	font-family:Tahoma;
}
ul.projects li .description {
	margin-left:40px;
	font-size:11px;
}
ul.projects li .percent, ul.projects li .type {
	float:right;
	margin-right:20px;
}
ul.projects li .percent-full {
	float:right;
	margin-right:0;
}
ul.projects li .edit {
	float:right;
}
/*-----------------------------------*/
.project-description, .project-name {
	width:250px;
}
p.part {
	margin:8px 0;
}
select.project-type {
	width:260px;
	height:26px;
}
.project-file {
	width:258px;
	height:26px;
	background-color:#EEE;
	border:1px #CCC solid;
	border-radius:3px;
	font-size:13px;
	font-family:Tahoma;
	color:#161616;
}
.left {
	width:240px;
	float:left;
	margin-right:25px;
}
.right {
	width:240px;
	float:left;
	margin-left:25px;
}
input[name="progress_level"] {
	width:250px;
}
.project-category {
	width:260px;
	height:26px;
}
.submit-category {
	float:right;
}
.note {
	font-size:10px;
}
.copyright {
	margin-top:5px;
}
.help {
	width:20px;
	height:20px;
	float:right;
	background:url('images/help.png');
	margin:7px -17px 0px 0px;
	cursor:pointer;
}
.help span {
	max-width:220px;
	text-align:justify;
}
.justify {
	text-align:justify;
}
.editor {
	margin-top:15px;
}
.error {
	color:#ce4228;
	background-color: #ffebe8;
	border:1px solid #c00;
	border-radius:3px;
	padding:8px;
}
.error img {
	margin-bottom:-3px;
	margin-right:8px;
}
.success {
	color:#008000;
	background-color: #e9ffe8;
	border:1px solid #37b830;
	border-radius:3px;
	padding:8px;
}
.success img {
	margin-bottom:-3px;
	margin-right:8px;
}
img[alt="Private"], img[alt="Public"], img[alt="For Sale"] {
	margin-left:8px;
}
input[type=text].login-input, input[type=password].login-input {
	width:218px;
	height:30px;
	font-size:20px;
	margin:5px 10px;
	/*margin-left:-25px;*/
}
input[type=submit].login-submit {
	width:230px;
	font: bold 20px/1 Courier;
	margin:10px auto 18px auto;
}
input[type=submit].login-submit:active {
	margin-top:15px;
	margin-bottom:13px;
}
.login-message {
	margin:0px 10px;
	font-size:11px;
}
.category-edit, .submit_category_edit, .cancel {
	display:none;
}
.submit_category_edit {
	cursor:pointer;
	margin:0px 0px -8px -8px;
}
.cancel a {
	cursor:pointer;
}
div.name, div.category_name {
	display:inline-block;
}
.edit-category {
	float:right;
	margin-top:5px;
	cursor:pointer;
}
.footer {
	width:100%;
	margin-top:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    padding: 10px;
    text-shadow: 1px 1px rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px rgb(180, 179, 175);
}
.footer-left {
	display:inline-block;
}
.footer-right {
	float:right;
}
/*--------------------------------------------------*/
/*------------------- Another CSS ------------------*/
/*--------------------------------------------------*/
span.tooltip {
	position: absolute;
	margin-left:-130px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	padding: 3px;
	font-size: 11px;
	text-align: center;
	color: #DDD;
	background: #333;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
	visibility:hidden;
	opacity:0;
	z-index:999;
	-moz-transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
span.tooltip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent #333;
	top: 7px;
	left: 86px;
}
/* hover */
a:hover .tooltip-right {
	text-decoration:none;
	visibility:visible;
	opacity:1;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
span.tooltip-right {
	position: absolute;
	margin-top:-10px;
	margin-left:31px;
	/*width: 80px;
	height: 20px;*/
	line-height: 20px;
	padding: 8px;
	font-size: 11px;
	/*text-align: center;*/
	color: #DDD;
	background: #333;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
	visibility:hidden;
	opacity:0;
	z-index:999;
	-moz-transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
span.tooltip-right:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent #333 transparent transparent;
	top: 14px;
	left: -12px;
}
/* hover */
a:hover .tooltip {
	text-decoration:none;
	visibility:visible;
	opacity:1;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
/* punch
*******************************************************************************/
.punch, input[type=submit].punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1;
  /*margin-bottom: 10px;*/
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  -webkit-background-clip: padding-box; }
  .punch:hover, input[type=submit].punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  .punch:active, input[type=submit].punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
 }
