/*####### IN THE NAME OF ALLAH ##########
## Project Name: Projapp               ##
## File name:    style.css             ##
## Author:       Mohammad Mahdi Naderi ##
## Project Site: projapp.mmnaderi.ir   ##
#######################################*/
* {
	padding:0;
	margin:0;
}
html, body {
	font-family:Tahoma;
	font-size:13px;
	color:#161616;
	background-image:url('images/bg.png');
}
a {
	color:#3D3D3D;
	text-shadow:0px 0px 1px #696969;
	filter:dropshadow(color=#696969, offx=0, offy=0);
	text-decoration:none;
}
a:hover {
	color:#6D6D6D;
}
ul {
	list-style:none;
}
p {
	margin-bottom:3px;
}
input[type="text"], input[type="submit"], input[type="password"], textarea, select, a.button {
	background-color:#EEE;
	border:1px #CCC solid;
	border-radius:3px;
	padding:4px;
	font-size:13px;
	font-family:Tahoma;
	color:#161616;
}
a.button {
	padding:5px;
	text-shadow:none;
}
a.button:hover {
	background-color:#F9F9F9;
}
input[type="submit"]:hover {
	background-color:#F9F9F9;
	cursor:pointer;
}
.submit-project {
	float:right;
	margin-top:10px;
}
.delete-project {
	float:left;
	margin-top:15px;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.container {
	width:500px;
	margin:50px auto;
}
.wrapper {
	padding:8px;
	border-radius:4px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow: 0px 0px 3px 0px #999; 
	-webkit-box-shadow: 0px 0px 3px 0px #999;
}
ul.toolbar {
	width:35px;
	float:left;
	list-style:none;
	padding:5px;
	background-color:#EEE;
	border:1px solid #CCC;
	-webkit-box-shadow: inset 0px 0px 3px 0px #999;
	box-shadow: inset 0px 0px 3px 0px #999; 
}
ul.toolbar li {
	width:32px;
	height:32px;
	margin-bottom:5px;
	text-align:center;
}
ul.toolbar li:last-child {
	margin-bottom:0;
}
.seperator {
	margin-bottom:5px;
}
.primery {
	float:left;
	width:425px;
	margin-left:10px;
}
h1,h2,h3,h4,h5,h6 ,.page-title {
	color:#5A5A5A;
	font-size:18px;
	font-family:Trebuchet MS;
	margin-bottom:5px;
}
.page-title {
	text-align:center;
}
h2 {
	font-size:15px;
}
h2.category-title {
	margin-top:15px;
}
ul.projects li {
	color:#444;
	padding:10px;
	border-top:1px solid #ddd;
}
ul.projects li:first-child {
	border-top:none;
}
ul.projects li:last-child {
	border-bottom:none;
}
ul.projects li:hover {
	background-color:#F4F4F4;
}
ul.projects li div.percent-text {
	width:40px;
	float:right;
	text-align:right;
}
ul.projects li .name {
	font-size:13px;
	font-family:Tahoma;
}
ul.projects li .description {
	margin-left:40px;
	font-size:11px;
}
ul.projects li .percent, ul.projects li .type {
	float:right;
	margin-right:20px;
}
ul.projects li .percent-full {
	width:64px;
	float:right;
	margin-right:0;
}
ul.projects li .edit {
	float:right;
}
/*-----------------------------------*/
.project-description {
	width:180px;
	height:173px;
}
p.part {
	margin:8px 0;
}
select.project-type {
	width:220px;
}
.left {
	width:200px;
	float:left;
}
input[name="progress_level"] {
	width:210px;
}
.project-category {
	width:220px;
}
.submit-category {
	float:right;
}
.note {
	font-size:10px;
}
.copyright {
	margin-top:20px;
}
.view {
	float:right;
	margin-left:20px;
}
/*--------------------------------------------------*/
/*------------------- Another CSS ------------------*/
/*--------------------------------------------------*/
span.tooltip {
	position: absolute;
	margin-left:-130px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	padding: 3px;
	font-size: 11px;
	text-align: center;
	color: #DDD;
	background: #333;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
	visibility:hidden;
	opacity:0;
	z-index:999;
	-moz-transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
span.tooltip:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent #333;
	top: 7px;
	left: 86px;
}
/* hover */
*:hover .tooltip {
	text-decoration:none;
	visibility:visible;
	opacity:1;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
span.tooltip-bottom {
	position: absolute;
	margin-top:-35px;
	margin-left:-49px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	padding: 3px;
	font-size: 11px;
	text-align: center;
	color: #DDD;
	background: #333;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
	visibility:hidden;
	opacity:0;
	z-index:999;
	-moz-transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
span.tooltip-bottom:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	bottom: -12px;
	left: 35px;
}
/* hover */
a:hover .tooltip-bottom {
	text-decoration:none;
	visibility:visible;
	opacity:1;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}